*{
    margin: 0;
}

#devtools{
    position: fixed;
    z-index: 11;
    display: flex;
}

html{
    background-color: darkgrey;
    font-family: sans-serif;
    text-align: center;
}

header{
    background-color: aliceblue;
}

.nav-bar{
    padding: 20px 0 20px 0;
    background-color: bisque;
    display: flex; 
    justify-content: space-between;
}
.nav-item{
    width: 100px;
    padding:  15px;
}

.header-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.texto-item{
    margin: 15px 0 15px 0;
}

#header-img{
    border-radius: 30%;
    width: 250px;
    border: 1px solid black;
}
#header-img-fondo{
    margin-top: 10vh;
    max-width: 60%;
}

main{
    background-color: rgb(103, 169, 226);
}