*{
    margin: 0;
}

html{
    background-color: darkgrey;
    font-family: sans-serif;
    text-align: center;
}

header{
    height: 100vh;
}

header h1{
    font-size: 3em;
}

header h2{
    font-size: 1em;
    margin-top: 10%;
    text-decoration: dashed;
    
}

section{
    position: relative;
}

section h2{
    font-size: 3em;
}

.contenedor-texto{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;

    text-shadow: 3px 2px 8px rgba(0, 0, 0, 0.4);
}

#img-header{
    z-index: 0;
    position: relative;
    height: 150%;
}

section{
    background-color: white;
    border: 1px solid black;

    height: 70vh;
}

